body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}
.clock-container{
    display: flex;
    align-content: center;
    padding: 40px 80px;
    background-color: #1e1e1e;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,255,255,0.3);
}
#clock{
    font-size: 500px;
    color: #00ffff;
    letter-spacing: 4px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 10px #00ffff;
}